 <head>
  <link rel="stylesheet" href="/css/header.css">
  <link type="image/x-icon" href="images/Shop.ico" rel="shortcut icon">
 </head>
 <div class="header-container">
 <div class="mobile">
	  <label class="mobile__label" for="checkbox">
	    <div class="mobile__label__content">
	      <span class="label__line"></span>
	      <span class="label__line"></span>
	    </div>
	    <div class="mobile__label__content">
	      <span class="label__line"></span>
	      <span class="label__line"></span>
	    </div>
	    <div class="mobile__label__content">
	      <span class="label__line"></span>
	      <span class="label__line"></span>
	    </div>
	  </label>
	  <input class="mobile__input" type="checkbox" id="checkbox" />
	  <nav class="mobile__nav">
	    <ul>
	      <li class="nav__item"><a href="/">Home</a></li>
		  <li class="nav__item"><a href="/src">Search</a></li>
	      <li class="nav__item"><a href="/shop">Shop</a></li>
	      <li class="nav__item"><a href="/reg">Sign Up</a></li>
	      <li class="nav__item"><a href="/log">Log In</a></li>
		  <li class="nav__item"><a href="/cart">My cart</a></li>
	    </ul>
	  </nav>
	  <div class="header-container">
	</div>
	</div>
	</div>