<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all ready register</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <section class="header-section">
        <%- include('blocks/header.ejs') -%>
        </section>
    <h1>That username is allready taken</h1>
    <p><a href="/reg">Please move back to register page</a></p>
    <%- include('blocks/footer.ejs') -%>
</body>
</html>