<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <section class="header-section">
        <%- include('blocks/header.ejs') -%>
        </section>
    <div class="forms">
      <form id="registrationForm" method="post" action="/register">
        <h2 id="regidter">Register</h2>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="text" name="email" placeholder="Email" required>
        <input type="submit" value="Register">
    </form>
    </div>
    <%- include('blocks/footer.ejs') -%>
</body>
</html>